<div class="container">
  <h4>Operation details</h4>
  <div class="info-container">
    <p>
      Cost:
      <span>{{
        showtimeService.getShowtime().totalPrice | currency : "EUR"
      }}</span>
    </p>
    <p>
      Date: <span>{{ today }}</span>
    </p>
    <p>Product description: <span>Movie tickets</span></p>
  </div>
</div>
<div class="container">
  <h4>Pay with card</h4>
  <form [formGroup]="paymentForm">
    <mat-form-field>
      <div class="form-item">
        <mat-icon>person</mat-icon>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Card holder"
        />
      </div>
      @if(paymentForm.get('name')?.hasError('required')){
      <mat-error>Card holder is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <div class="form-item">
        <mat-icon>credit_card</mat-icon>
        <input
          matInput
          type="text"
          formControlName="cardNumber"
          placeholder="1234 5678 1234 5678"
        />
      </div>
      @if(paymentForm.get('cardNumber')?.hasError('required')){
      <mat-error>Card number is required</mat-error>
      } @if(paymentForm.get('cardNumber')?.hasError('pattern')){
      <mat-error>Please enter a valid card number</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <div class="form-item">
        <mat-icon>credit_card</mat-icon>
        <input matInput type="number" formControlName="cvv" placeholder="CVV" />
      </div>
      @if(paymentForm.get('cvv')?.hasError('required')){
      <mat-error>CVV is required</mat-error>
      } @if(paymentForm.get('cvv')?.hasError('reachMaxNumberOfDigits')) {
      <mat-error>CVV must be 3 digits long</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="expirationDate"
        placeholder="Expiration date"
        [min]="minDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        panelClass="example-month-picker"
        (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="setMonthAndYear($event, picker)"
      >
      </mat-datepicker>
      @if(paymentForm.get('expirationDate')?.hasError('required')){
      <mat-error>Expiration date is required</mat-error>
      }
      @if(paymentForm.get('expirationDate')?.hasError('matDatepickerMin')){
        <mat-error>Please enter a valid expiration date</mat-error>
      }
    </mat-form-field>
  </form>
</div>
