.hours-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.hours-container button {
  background-color: var(--tertiary-color);
  color: var(--white-color);
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--tertiary-color) !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--tertiary-color) !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-family: var(--font-family) !important;
  color: var(--black-color) !important;
}
