<div class="seat-area">
  @for( row of seatRows; track row; let index = $index) {
  <div class="row" >
    <div class="row-number">{{ row[0].rowNumber }}</div>

    @for( seat of row.slice(0, SEAT_NUMBER_PER_ROW); track seat) {
      <div class="seat-container" >
        <app-seat
          [color]="getColor(seat.status)"
          (seatSelected)="onSelectedSeat(seat.id)">
        </app-seat>
        <div class="seat-number">{{ seat.seatNumber }}</div>
      </div>
    }

    <div class="corridor">
      <div class="row-number">{{ row[SEAT_NUMBER_PER_ROW].rowNumber }}</div>
    </div>

    @for (seat of row.slice(SEAT_NUMBER_PER_ROW + 1); track seat) {
      <div class="seat-container">
        <app-seat
          [color]="getColor(seat.status)"
          (seatSelected)="onSelectedSeat(seat.id)">
        </app-seat>
        <div class="seat-number">{{ seat.seatNumber }}</div>
      </div>
    }

    <div class="row-number">{{ row[0].rowNumber }}</div>
  </div>
}
</div>
<div class="screen">SCREEN</div>