<div class="review-container">
  <div class="info-container">
    <div class="movie-img">
      <img
        [src]="getImageUrl(data.poster_path, 'w200')"
        alt="{{ data.title }}"
      />
    </div>
    <div class="movie-info">
      <p>
        Film: <span>{{ data.title }}</span>
      </p>
      <p>
        Date: <span>{{ day }}</span>
      </p>
      <p>
        Time: <span> {{ time }}</span>
      </p>
      <p>
        Overview: <span> {{ data.overview }}</span>
      </p>
    </div>
  </div>
  <div class="cost-container">
    <table mat-table [dataSource]="tickets" class="mat-elevation-z8">
      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef>Seats</th>
        <td mat-cell *matCellDef="let ticket">ROW {{ ticket.seat.row }} SEAT {{ ticket.seat.seat }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.price | currency : 'EUR' }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalCost() | currency :'EUR' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer"></tr>

    </table>
  </div>
</div>
