<div class="dialog-container">
  @if( currentStep === 1) {
  <h2>Get the places you want to watch the movie!</h2>
  } @else if ( currentStep === 2) {
  <h2>Review all your data before buying the ticket</h2>
  } @else if( currentStep === 3 ){
  <h2>Pay your tickets</h2>
  }
  <mat-dialog-content>
    <div class="slider-container">
      @if( currentStep === 1 ) {
      <div class="slide" [ngClass]="{ active: currentStep === 1 }">
        <app-book-a-seat [data]="data"></app-book-a-seat>
      </div>
      } @else if ( currentStep === 2) {
      <div class="slide" [ngClass]="{ active: currentStep === 2 }">
        <app-review-tickets [data]="data"></app-review-tickets>
      </div>
      } @else if ( currentStep === 3 ) {
      <div class="slide" [ngClass]="{ active: currentStep === 3 }">
       <app-pay></app-pay>
      </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="cta-container">
      @if ( currentStep === 1) {
      <button mat-stroked-button (click)="onClose()">Cancel</button>
      } @else {
      <button mat-flat-button (click)="onPrevStep()">Previous</button>
      }
      <button
        mat-flat-button
        (click)="onNextStep()"
        [disabled]="!seats.length"
        [ngClass]="{ disabled: !seats.length }"
      >
        @if( currentStep === 1 ){
          Review
        } @if ( currentStep === 2 ){
          Pay Details
        } @if( currentStep === 3) {
          Pay
        }
      </button>
    </div>
  </mat-dialog-actions>
</div>
