
<div class="dialog-container">
  @if( currentStep === 1) {
  <h2>Get the places you want to watch the movie!</h2>
  } @else if ( currentStep === 2) {
  <h2>Review all your data before buying the ticket</h2>
  } @else if( currentStep === 3 ){
  <h2>Pay your tickets</h2>
  }
  <mat-dialog-content>
    <div class="slider-container">
      @if( currentStep === 1 ) {
      <div class="slide" [ngClass]="{ active: currentStep === 1 }">
        <app-book-a-seat [data]="movieData" (hasSelectedSeat)="onHasSelectedSeat($event)"></app-book-a-seat>
      </div>
      } @else if ( currentStep === 2) {
      <div class="slide" [ngClass]="{ active: currentStep === 2 }">
        <app-review-tickets
          [data]="movieData"
        ></app-review-tickets>
      </div>
      } @else if ( currentStep === 3 ) {
      <div class="slide" [ngClass]="{ active: currentStep === 3 }">
        <app-pay
          (formValid)="onFormValid($event)"
          [readyToPay]="readyToPay"
          [movieData]="movieData"
        ></app-pay>
      </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="cta-container">
      @if ( currentStep === 1) {
      <button mat-stroked-button (click)="onClose()">Cancel</button>
      } @else {
      <button mat-flat-button (click)="onPrevStep()">Previous</button>
      } @if ( currentStep === 1 ) {
      <button
        mat-flat-button
        (click)="onNextStep()"
        [disabled]="!canGoToReviewPage"
        [ngClass]="{ disabled: !canGoToReviewPage }"
      >
        Review
      </button>
      } @else if ( currentStep === 2 ) {
      <button mat-flat-button (click)="onNextStep()">Pay Details</button>
      } @else if ( currentStep === 3 ){
      <button
        mat-flat-button
        (click)="updateMovieAndPay()"
        [disabled]="!isFormValid"
        [ngClass]="{ disabled: !isFormValid }"
      >
        Pay
      </button>
      }
    </div>
  </mat-dialog-actions>
</div>
