<div
  class="details-container"
  [style.background-image]="
    'linear-gradient(rgba(33, 32, 30, 0.7), rgba(33, 32, 30, 0.7)),  url(https://image.tmdb.org/t/p/w500/' +
    movieDetails?.poster_path +
    ')'
  "
>
  <div class="details-header">
    <h1>{{ movieDetails?.title }}</h1>
    <h4>{{ movieDetails?.release_date | date : "dd/MM/yyyy" }}</h4>
  </div>
  <div class="details-genres">
    <h2>Genres:</h2>
    <ul>
      @for(genre of movieDetails?.genres; track genre) {
      <li>{{ genre }}</li>
      }
    </ul>
  </div>
  <div class="details-language">
    <h2>Original Language:</h2>
    <span>{{ movieDetails?.original_language }}</span>
  </div>
  <p>{{ movieDetails?.overview }}</p>
  @if( movieDetails?.homepage ) {
  <div class="details-homepage">
    <h2>Home Page:</h2>
    <a [href]="movieDetails?.homepage" target="_blank">{{
      movieDetails?.homepage
    }}</a>
  </div>
  } @if( type === mediaType.NOW_PLAYING ) {
  <div class="details-cta">
    <button mat-flat-button (click)="openBookSeatModal()">Book a Seat</button>
  </div>
  }
</div>
