.st0 {
    stroke: #000000;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    cursor: pointer;
}

.legend-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.legend-info {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    color: var(--black-color);
}